@import "../node_modules/bootstrap/scss/bootstrap";

* {
  padding: 0;
  margin: 0;
}

body {
  max-width: 100vw;
  min-height: 100vh;
  /* background-image: url(./images/kokomi.jpg); */
  backdrop-filter: blur(3px);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  justify-content: center;
}

/* .container-1 {
 
} */

.container-3 {
  position: absolute;
  max-width: 500px;
  max-height: 600px;
  width: 90%;
  height: 90%;
  /* margin: auto; */
  background-color: transparent;
  backdrop-filter: blur(20px);
  padding-top: 2rem;
  padding-bottom: 5rem;
  padding-right: 2rem;
  padding-left: 2rem;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 20px;
  z-index: 3;
  box-shadow: 20px 20px 20px 20px rgba(0, 0, 0, 0.46);
  -webkit-box-shadow: 20px 20px 20px 20px rgba(0, 0, 0, 0.46);
  -moz-box-shadow: 20px 20px 20px 200px rgba(0, 0, 0, 0.46);
}

.container-2 {
  z-index: 3;
  display: flex;
  position: absolute;
  max-width: 100vw;
  max-height: 100vh;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.video-warpper {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}
.video-background {
  object-fit: cover;
}

.video-background video {
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: fixed;
  z-index: -1;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
  padding-left: 6rem;
}

.loader {
  --w: 10ch;
  font-family: monospace;
  font-weight: bold;
  font-size: 30px;
  letter-spacing: var(--w);
  width: var(--w);
  overflow: hidden;
  white-space: nowrap;
  color: #fff;
  animation: l33 3s infinite alternate;
  -webkit-animation: l33 3s infinite alternate;
}
.loader:before {
  content: "Login";
}

@keyframes l33 {
  0%,
  15%,
  75%,
  100% {
    text-shadow: calc(0 * var(--w)) 0 #fff, calc(-1 * var(--w)) 0 #fff,
      calc(-2 * var(--w)) 0 #fff, calc(-3 * var(--w)) 0 #fff,
      calc(-4 * var(--w)) 0 #fff, calc(-5 * var(--w)) 0 #fff,
      calc(-6 * var(--w)) 0 #fff, calc(-7 * var(--w)) 0 #fff,
      calc(-8 * var(--w)) 0 #fff, calc(-9 * var(--w)) 0 #fff;
  }
  20% {
    text-shadow: calc(0 * var(--w)) 0 #fff, calc(-1 * var(--w)) 0 #fff,
      calc(-2 * var(--w)) 0 #fff, calc(-3 * var(--w)) 0 9px #fff,
      calc(-4 * var(--w)) 0 #fff, calc(-5 * var(--w)) 0 #fff,
      calc(-6 * var(--w)) 0 #fff, calc(-7 * var(--w)) 0 #fff,
      calc(-8 * var(--w)) 0 #fff, calc(-9 * var(--w)) 0 #fff;
  }
  25% {
    text-shadow: calc(0 * var(--w)) 0 #fff, calc(-1 * var(--w)) 0 #fff,
      calc(-2 * var(--w)) 0 #fff, calc(-3 * var(--w)) 0 #fff,
      calc(-4 * var(--w)) 0 #fff, calc(-5 * var(--w)) 0 #fff,
      calc(-6 * var(--w)) 0 #fff, calc(-7 * var(--w)) 0 7px #fff,
      calc(-8 * var(--w)) 0 #fff, calc(-9 * var(--w)) 0 #fff;
  }
  30% {
    text-shadow: calc(0 * var(--w)) 0 #fff, calc(-1 * var(--w)) 0 #fff,
      calc(-2 * var(--w)) 0 #fff, calc(-3 * var(--w)) 0 #fff,
      calc(-4 * var(--w)) 0 #fff, calc(-5 * var(--w)) 0 9px #fff,
      calc(-6 * var(--w)) 0 #fff, calc(-7 * var(--w)) 0 #fff,
      calc(-8 * var(--w)) 0 #fff, calc(-9 * var(--w)) 0 #fff;
  }
  35% {
    text-shadow: calc(0 * var(--w)) 0 #fff, calc(-1 * var(--w)) 0 #fff,
      calc(-2 * var(--w)) 0 #fff, calc(-3 * var(--w)) 0 #fff,
      calc(-4 * var(--w)) 0 #fff, calc(-5 * var(--w)) 0 #fff,
      calc(-6 * var(--w)) 0 #fff, calc(-7 * var(--w)) 0 #fff,
      calc(-8 * var(--w)) 0 #fff, calc(-9 * var(--w)) 0 7px #fff;
  }
  40% {
    text-shadow: calc(0 * var(--w)) 0 5px #fff, calc(-1 * var(--w)) 0 #fff,
      calc(-2 * var(--w)) 0 #fff, calc(-3 * var(--w)) 0 #fff,
      calc(-4 * var(--w)) 0 #fff, calc(-5 * var(--w)) 0 #fff,
      calc(-6 * var(--w)) 0 #fff, calc(-7 * var(--w)) 0 #fff,
      calc(-8 * var(--w)) 0 #fff, calc(-9 * var(--w)) 0 #fff;
  }
  45% {
    text-shadow: calc(0 * var(--w)) 0 #fff, calc(-1 * var(--w)) 0 #fff,
      calc(-2 * var(--w)) 0 #fff, calc(-3 * var(--w)) 0 #fff,
      calc(-4 * var(--w)) 0 #fff, calc(-5 * var(--w)) 0 7px #fff,
      calc(-6 * var(--w)) 0 #fff, calc(-7 * var(--w)) 0 #fff,
      calc(-8 * var(--w)) 0 #fff, calc(-9 * var(--w)) 0 #fff;
  }
  50% {
    text-shadow: calc(0 * var(--w)) 0 #fff, calc(-1 * var(--w)) 0 #fff,
      calc(-2 * var(--w)) 0 #fff, calc(-3 * var(--w)) 0 #fff,
      calc(-4 * var(--w)) 0 5px #fff, calc(-5 * var(--w)) 0 #fff,
      calc(-6 * var(--w)) 0 #fff, calc(-7 * var(--w)) 0 #fff,
      calc(-8 * var(--w)) 0 #fff, calc(-9 * var(--w)) 0 #fff;
  }
  55% {
    text-shadow: calc(0 * var(--w)) 0 #fff, calc(-1 * var(--w)) 0 #fff,
      calc(-2 * var(--w)) 0 #fff, calc(-3 * var(--w)) 0 #fff,
      calc(-4 * var(--w)) 0 #fff, calc(-5 * var(--w)) 0 #fff,
      calc(-6 * var(--w)) 0 8px #fff, calc(-7 * var(--w)) 0 #fff,
      calc(-8 * var(--w)) 0 #fff, calc(-9 * var(--w)) 0 #fff;
  }
  60% {
    text-shadow: calc(0 * var(--w)) 0 #fff, calc(-1 * var(--w)) 0 #fff,
      calc(-2 * var(--w)) 0 #fff, calc(-3 * var(--w)) 0 #fff,
      calc(-4 * var(--w)) 0 #fff, calc(-5 * var(--w)) 0 #fff,
      calc(-6 * var(--w)) 0 #fff, calc(-7 * var(--w)) 0 #fff,
      calc(-8 * var(--w)) 0 5px #fff, calc(-9 * var(--w)) 0 #fff;
  }
  65% {
    text-shadow: calc(0 * var(--w)) 0 #fff, calc(-1 * var(--w)) 0 7px #fff,
      calc(-2 * var(--w)) 0 #fff, calc(-3 * var(--w)) 0 #fff,
      calc(-4 * var(--w)) 0 #fff, calc(-5 * var(--w)) 0 #fff,
      calc(-6 * var(--w)) 0 #fff, calc(-7 * var(--w)) 0 #fff,
      calc(-8 * var(--w)) 0 #fff, calc(-9 * var(--w)) 0 #fff;
  }
  70% {
    text-shadow: calc(0 * var(--w)) 0 #fff, calc(-1 * var(--w)) 0 #fff,
      calc(-2 * var(--w)) 0 9px #fff, calc(-3 * var(--w)) 0 #fff,
      calc(-4 * var(--w)) 0 #fff, calc(-5 * var(--w)) 0 #fff,
      calc(-6 * var(--w)) 0 #fff, calc(-7 * var(--w)) 0 #fff,
      calc(-8 * var(--w)) 0 #fff, calc(-9 * var(--w)) 0 #fff;
  }
}

.form {
  margin-top: 4rem;
}

.form-control {
  background: transparent;
  border: 3px solid rgba(0, 0, 0, 0.2);
  outline: none;
}

.form input::placeholder {
  color: rgb(255, 255, 255);
}

.form-label {
  color: #fff;
  font-weight: bold;
}

.label {
  padding-top: 0.75rem;
  padding-right: 0.75rem;
  /* position: fixed; */
  margin: 0;
  height: fit-content;
  color: #fff;
  font-weight: bold;
}

.mesage {
  /* display: flex; */
  padding-top: 0.75rem;
}

.mesages {
  display: flex;
  width: fit-content;
  height: fit-content;
}

/* .age-row {
  display: flex;
  flex-direction: row;
} */

.row-age {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: fit-content;
  height: fit-content;
  position: relative;
}

.age {
  width: fit-content;
  height: fit-content;
  padding-right: 2rem;
}

.btn {
  margin-left: 2rem;
}

.frame-value {
  z-index: 4;
  /* display: flex; */
  max-width: 500px;
  max-height: 600px;
  width: 90%;
  height: 90%;
  background-color: transparent;
  justify-content: center;
  backdrop-filter: blur(100px);
  border: 2px solid black;
  border-radius: 20px;
  box-shadow: 20px 20px 20px 20px rgba(0, 0, 0, 0.46);
  -webkit-box-shadow: 20px 20px 20px 20px rgba(0, 0, 0, 0.46);
  -moz-box-shadow: 20px 20px 20px 200px rgba(0, 0, 0, 0.46);
}

.User-Value {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 2rem 5rem 6rem;
}

.user-date {
  --w: 10ch;
  font-family: monospace;
  font-weight: bold;
  font-size: 30px;
  letter-spacing: var(--w);
  width: var(--w);
  overflow: hidden;
  white-space: nowrap;
  color: #fff;
  animation: l33 3s infinite alternate;
  -webkit-animation: l33 3s infinite alternate;
}
.user-date:before {
  content: "Data Mu";
}

@keyframes l33 {
  0%,
  15%,
  75%,
  100% {
    text-shadow: calc(0 * var(--w)) 0 #fff, calc(-1 * var(--w)) 0 #fff,
      calc(-2 * var(--w)) 0 #fff, calc(-3 * var(--w)) 0 #fff,
      calc(-4 * var(--w)) 0 #fff, calc(-5 * var(--w)) 0 #fff,
      calc(-6 * var(--w)) 0 #fff, calc(-7 * var(--w)) 0 #fff,
      calc(-8 * var(--w)) 0 #fff, calc(-9 * var(--w)) 0 #fff;
  }
  20% {
    text-shadow: calc(0 * var(--w)) 0 #fff, calc(-1 * var(--w)) 0 #fff,
      calc(-2 * var(--w)) 0 #fff, calc(-3 * var(--w)) 0 9px #fff,
      calc(-4 * var(--w)) 0 #fff, calc(-5 * var(--w)) 0 #fff,
      calc(-6 * var(--w)) 0 #fff, calc(-7 * var(--w)) 0 #fff,
      calc(-8 * var(--w)) 0 #fff, calc(-9 * var(--w)) 0 #fff;
  }
  25% {
    text-shadow: calc(0 * var(--w)) 0 #fff, calc(-1 * var(--w)) 0 #fff,
      calc(-2 * var(--w)) 0 #fff, calc(-3 * var(--w)) 0 #fff,
      calc(-4 * var(--w)) 0 #fff, calc(-5 * var(--w)) 0 #fff,
      calc(-6 * var(--w)) 0 #fff, calc(-7 * var(--w)) 0 7px #fff,
      calc(-8 * var(--w)) 0 #fff, calc(-9 * var(--w)) 0 #fff;
  }
  30% {
    text-shadow: calc(0 * var(--w)) 0 #fff, calc(-1 * var(--w)) 0 #fff,
      calc(-2 * var(--w)) 0 #fff, calc(-3 * var(--w)) 0 #fff,
      calc(-4 * var(--w)) 0 #fff, calc(-5 * var(--w)) 0 9px #fff,
      calc(-6 * var(--w)) 0 #fff, calc(-7 * var(--w)) 0 #fff,
      calc(-8 * var(--w)) 0 #fff, calc(-9 * var(--w)) 0 #fff;
  }
  35% {
    text-shadow: calc(0 * var(--w)) 0 #fff, calc(-1 * var(--w)) 0 #fff,
      calc(-2 * var(--w)) 0 #fff, calc(-3 * var(--w)) 0 #fff,
      calc(-4 * var(--w)) 0 #fff, calc(-5 * var(--w)) 0 #fff,
      calc(-6 * var(--w)) 0 #fff, calc(-7 * var(--w)) 0 #fff,
      calc(-8 * var(--w)) 0 #fff, calc(-9 * var(--w)) 0 7px #fff;
  }
  40% {
    text-shadow: calc(0 * var(--w)) 0 5px #fff, calc(-1 * var(--w)) 0 #fff,
      calc(-2 * var(--w)) 0 #fff, calc(-3 * var(--w)) 0 #fff,
      calc(-4 * var(--w)) 0 #fff, calc(-5 * var(--w)) 0 #fff,
      calc(-6 * var(--w)) 0 #fff, calc(-7 * var(--w)) 0 #fff,
      calc(-8 * var(--w)) 0 #fff, calc(-9 * var(--w)) 0 #fff;
  }
  45% {
    text-shadow: calc(0 * var(--w)) 0 #fff, calc(-1 * var(--w)) 0 #fff,
      calc(-2 * var(--w)) 0 #fff, calc(-3 * var(--w)) 0 #fff,
      calc(-4 * var(--w)) 0 #fff, calc(-5 * var(--w)) 0 7px #fff,
      calc(-6 * var(--w)) 0 #fff, calc(-7 * var(--w)) 0 #fff,
      calc(-8 * var(--w)) 0 #fff, calc(-9 * var(--w)) 0 #fff;
  }
  50% {
    text-shadow: calc(0 * var(--w)) 0 #fff, calc(-1 * var(--w)) 0 #fff,
      calc(-2 * var(--w)) 0 #fff, calc(-3 * var(--w)) 0 #fff,
      calc(-4 * var(--w)) 0 5px #fff, calc(-5 * var(--w)) 0 #fff,
      calc(-6 * var(--w)) 0 #fff, calc(-7 * var(--w)) 0 #fff,
      calc(-8 * var(--w)) 0 #fff, calc(-9 * var(--w)) 0 #fff;
  }
  55% {
    text-shadow: calc(0 * var(--w)) 0 #fff, calc(-1 * var(--w)) 0 #fff,
      calc(-2 * var(--w)) 0 #fff, calc(-3 * var(--w)) 0 #fff,
      calc(-4 * var(--w)) 0 #fff, calc(-5 * var(--w)) 0 #fff,
      calc(-6 * var(--w)) 0 8px #fff, calc(-7 * var(--w)) 0 #fff,
      calc(-8 * var(--w)) 0 #fff, calc(-9 * var(--w)) 0 #fff;
  }
  60% {
    text-shadow: calc(0 * var(--w)) 0 #fff, calc(-1 * var(--w)) 0 #fff,
      calc(-2 * var(--w)) 0 #fff, calc(-3 * var(--w)) 0 #fff,
      calc(-4 * var(--w)) 0 #fff, calc(-5 * var(--w)) 0 #fff,
      calc(-6 * var(--w)) 0 #fff, calc(-7 * var(--w)) 0 #fff,
      calc(-8 * var(--w)) 0 5px #fff, calc(-9 * var(--w)) 0 #fff;
  }
  65% {
    text-shadow: calc(0 * var(--w)) 0 #fff, calc(-1 * var(--w)) 0 7px #fff,
      calc(-2 * var(--w)) 0 #fff, calc(-3 * var(--w)) 0 #fff,
      calc(-4 * var(--w)) 0 #fff, calc(-5 * var(--w)) 0 #fff,
      calc(-6 * var(--w)) 0 #fff, calc(-7 * var(--w)) 0 #fff,
      calc(-8 * var(--w)) 0 #fff, calc(-9 * var(--w)) 0 #fff;
  }
  70% {
    text-shadow: calc(0 * var(--w)) 0 #fff, calc(-1 * var(--w)) 0 #fff,
      calc(-2 * var(--w)) 0 9px #fff, calc(-3 * var(--w)) 0 #fff,
      calc(-4 * var(--w)) 0 #fff, calc(-5 * var(--w)) 0 #fff,
      calc(-6 * var(--w)) 0 #fff, calc(-7 * var(--w)) 0 #fff,
      calc(-8 * var(--w)) 0 #fff, calc(-9 * var(--w)) 0 #fff;
  }
}

.value {
  display: flex;
  flex-direction: column;
}

.value span {
  font-weight: bold;
  font-size: 20px;
  padding-top: 3rem;
  padding-left: 3rem;
}

.value button {
  margin-top: 3rem;
  width: fit-content;
}

@media screen and (min-widith: 940px) {
  .container-3 {
    width: 80%;
  }
}

@media screen and (min-widith: 780px) {
  .container-3 {
    width: 50%;
  }
}

@media screen and (min-widith: 480px) {
  .container-3 {
    width: 50%;
  }
}
